<footer class="footer bg-dark text-light">
  <div class="row" style="display:flex; flex-wrap: wrap">
    <div class="col-12 text-center">
      <h6>Find Me:</h6>
      <ul class="list-unstyled">
        <li><a href="https://www.linkedin.com/in/jeffrey-schrock-a99094b5/"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
        <li><a href="https://github.com/RhythmMagi"><i class="fab fa-github"></i> GitHub</a></li>
        <li><a href="https://twitter.com/cafechaibo"><i class="fa fa-fw fa-twitter"aria-hidden="true"></i> Twitter</a></li>
      </ul>
    </div>
  </div>
</footer>
</body>
</html>