<footer class="footer bg-dark text-light">
  <div class="row" style="display:flex; flex-wrap: wrap">
    <div class="col-6 text-center">
      <h6>Find Me:</h6>
      <ul class="list-unstyled">
        <li><a href="https://www.linkedin.com/in/jeffrey-schrock-a99094b5/"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
        <li><a href="https://github.com/RhythmMagi"><i class="fab fa-github"></i> GitHub</a></li>
      </ul>
    </div>
    <div class="col-6 text-center">
      <h6>I'm looking for work!</h6>
      <a href="/documents/resume.pdf">Resume</a>
    </div>
  </div>
</footer>
</body>
</html>