<!DOCTYPE html>
<html>
    <head>
        <title>Jeff Schrock Portfolio</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/portfolio/public/stylesheets/main.css">
    </head>
    <body>