<div class="bg-dark text-light">
    <div class="container">
        <h1>About Me</h1>
        <p>
            Nunc eros elit, fermentum in elit consectetur, ornare tincidunt orci. In venenatis lacus a sem ultricies, 
            et dapibus turpis bibendum. Mauris sed lacus arcu. Morbi pharetra, purus ac mattis consequat, sapien sapien dictum ligula, 
            a pulvinar ex elit eget erat. Vestibulum vel nulla turpis. Vivamus sit amet urna hendrerit sem bibendum egestas 
            sollicitudin vestibulum massa. Sed id posuere nunc, at convallis ipsum. Donec lobortis purus ut molestie feugiat. 
            Praesent viverra varius augue in pellentesque. Phasellus consectetur tristique finibus. Quisque tempus cursus sodales. 
            Curabitur elementum nisl vitae mi blandit viverra non a elit.
        </p>
        <div>
            
        </div>
        <h4>Stuff I know</h4>
        <ul class="list-unstyled">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Node.js</li>
            <li>Python</li>
            <li>MongoDB</li>
        </ul>
    </div>
</div>


