<div class="about bg-light">
    <div class="container">
        <h1 class="header text-center">Keyboard to Keyboard</h1>
        <p>
            Born and raised in Massachusetts and New Hampshire. I am a Developer, Musician, and Martial Artist. 
            I have been studying Music for 8 years, and Martial Arts for 13 years. For the past 2 years I have studied computer programming and web development. 
            I have always had an affinity to working with computers since I was young, and I naturally started to learn about hardware and software. 
            <br>
            My thing I enjoy most about Web Development is it is always growing and it encourages constant learning. 
            In this it’s much like martial arts. We adapt to changes in our environment. Only in adversity do we grow. 
            My goal is to become a great developer who can grow and learn.

        </p>
        <div>
            
        </div>
        <div class="skills text-center">
            <h2 class="header">Stuff I know</h2>
            <ul class="list-unstyled">
                <li class="btn btn-secondary disabled"><i class="fab fa-html5"></i> HTML</li>
                <li class="btn btn-light disabled"><i class="fab fa-css3-alt"></i> CSS</li>
                <li class="btn btn-secondary disabled"><i class="fab fa-js"></i> JavaScript</li>
                <li class="btn btn-light disabled"><i class="fab fa-node-js"></i> Node.js</li>
                <li class="btn btn-secondary disabled"><i class="fab fa-python"></i> Python</li>
                <li class="btn btn-light disabled">MongoDB</li>
                <li class="btn btn-secondary disabled"><i class="fab fa-sass"></i> Sass</li>
                <li class="btn btn-light disabled"><i class="fab fa-vuejs"></i> Vue.js</li>
                <li class="btn btn-secondary disabled"><i class="fab fa-aws"></i> AWS</li>
            </ul>
        </div>
    </div>
</div>


