<% include partials/header %>

<!--Name and Jumbotron-->
<section class="jumbotron">
  <div class="container inner cover">
    <div class="span4">
      <h1 class="jumbotron-heading">Jeffrey Schrock</h1>
      <p class="lead">Jr. Web Developer</p>
    </div>
  </div>
</section>

<% include about %>

<!--Skills Section-->
<div class="">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm">
        <img class="rounded-circle" src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/256/landscape/nodejslogo.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Node.js</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
      </div>
      <div class="col-sm">
        <img class="rounded-circle" src="https://www.python.org/static/opengraph-icon-200x200.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Python</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
      </div>
      <div class="col-sm">
        <img class="rounded-circle" src="https://d22wsyl1zemnyu.cloudfront.net/images/frontendfront-logo-share.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Full Stack</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. </p>
      </div>
    </div> 
  </div>
</div>



<!--Projects Section-->
<div class="album py-5">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/images/yelpcamp.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Login and add a camp and comment! <strong>YelpCamp</strong> is a project revolving around Node.js, Authentication, Authorization, RESTful Routing, and Databases</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" href="https://chaibosampledemo.herokuapp.com/">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/images/chaibodemo.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><strong>Chaibo</strong> is a small cafe that I frequent while working. Focus primarily on the Front end with dynamic menus and bootstraps mobile capability.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="https://images.pexels.com/photos/571171/pexels-photo-571171.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>