<% include partials/header %>

<!--Name and Jumbotron-->
<div class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container inner cover text-center">
    <h1 class="jumbotron-heading display-1">Jeffrey Schrock</h1>
    <h3 class="header display-4">Jr. Web Developer</h3>
  </div>
</div>

<% include about %>

<% include projects %>

<% include partials/footer %>