<% include partials/header %>

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><strong>Jeffrey Schrock</strong></h1>
        <h4>Jr. Web Developer</h4>
      </div>
    </div>
    
<% include about %>

<% include projects %>

<% include partials/footer %>