<!--Projects Section-->
<div class="album py-5 bg-light section-padding">
  <div class="container">
    <h2 class="projects-title text-light text-center">Projects</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/images/yelpcamp.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Login and add a camp and comment! <strong>YelpCamp</strong> is a project revolving around Node.js, Authentication, Authorization, RESTful Routing, and Databases</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="https://still-lake-37827.herokuapp.com/">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/images/chaibodemo.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><strong>Chaibo</strong> is a small cafe that I frequent while working. Focus primarily on the Front end with dynamic menus and bootstraps mobile capability.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="https://chaibosampledemo.herokuapp.com/">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/images/code.jpeg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Looking for more? I'm working on adding more projects at the moment. Check back later for new projects. For now go to my <strong>Github</strong> for more work!</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="https://github.com/RhythmMagi">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>