html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.card {
    border: none;
}
.jumbotron {
    height: 100%;
    width: auto;
    background-image: url("https://images.pexels.com/photos/164821/pexels-photo-164821.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.jumbotron-heading {
    text-shadow: 1px 1px #AAAAAA;
    font-family: 'Berkshire Swash', cursive;
}

.projects-title {
    text-shadow: 2px 2px #000000;
    font-family: 'Berkshire Swash', cursive;
}

ul li {
    display: inline;
}

.lead {
    text-shadow: 1px 1px #AAAAAA;
}

.section-padding {
    padding: 20px 0px;
}

.album {
    height: 100%;
    width: auto;
    background-image: url("https://images.pexels.com/photos/247791/pexels-photo-247791.png?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}